In [4]:
import pandas as pd

df =pd.read_csv("iris.csv")
print (df.shape)

print(df.head(5))

#Checking Data Types
print (df.dtypes)

(150, 5)
   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

AttributeError: 'DataFrame' object has no attribute 'types'

In [5]:
#Checking Data Types
print (df.dtypes)

sepal length    float64
sepal width     float64
petal length    float64
petal width     float64
class            object
dtype: object

In [7]:
#checking rows for duplicate data
duplicate_rows_df = df[df.duplicated()]
print("number of duplicated rows: ", duplicate_rows_df.shape)

number of duplicated rows:  (3, 5)

In [8]:
#dropping the duplicates
df = df.drop_duplicates()
#Counting the rows after removing the duplicates
df.count()

sepal length    147
sepal width     147
petal length    147
petal width     147
class           147
dtype: int64

In [9]:
#count the number of null values in each column
print(df.isnull().sum())

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64